/* PATHWAYS INTERACTIVE */

/*
REF:
https://stackoverflow.com/questions/18012420/draw-diagonal-lines-in-div-background-with-css
https://codepen.io/nelsonleite/pen/jMjMdB
*/

$btn-height: 80px;
$btn-margin: 20px;
$line-offset: 40px;
$line-width: 40px;
$btn-top-1: calc(#{$btn-height + $btn-margin});
$btn-top-2: calc(#{$btn-height + $btn-margin} * 2);
$btn-top-3: calc(#{$btn-height + $btn-margin} * 3);
$btn-top-4: calc(#{$btn-height + $btn-margin} * 4);
/* Base colors */
$color_primary: #252259; //dark blue
$color_secondary: #9e0012; //dark red

$color_accent-1: #682c80;
$color_accent-2: #1d86c1;
$color_accent-3: #11ad97;
$color_accent-4: #ac9e33;

$bp: 800px;
$bp-1: 799px;

.accent-1 {color:$color_accent-1;}
.accent-2 {color:$color_accent-2;}
.accent-3 {color:$color_accent-3;}
.accent-4 {color:$color_accent-4;}

* {
    box-sizing: border-box;
}

body {
    background: $color_primary;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;

    @media(max-width:$bp-1){
        flex-direction: column;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media(max-width:$bp-1){
            flex-direction: row;
        }

        > div {
            font-size: 20px;    
            background: $color_primary;            
            margin:10px 0;
            margin: calc(#{$btn-margin / 2}) 0;
            color: white;            
            /* flex: 1; */
            @media(max-width:$bp-1){
                width:20%;
                background:blue;
                text-align:center;
                margin:0;
                &:nth-child(odd){
                    background:grey;
                }
            }
        }
        > .title-year {
            margin:0;
            font-weight:bold;
            text-align:center;
            height:50px;
            width:100%;
            background: #666;
            display:block;
            @media(max-width:$bp-1){
                width:20%;
                height:auto;
            }
        }
        > .btn {
            /* position:absolute;
            z-index:0;     */
            > span {
                border-radius:50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin:0 auto;
                width: $btn-height;
                height: $btn-height;
                color: white;
                border:2px solid $color_accent-4;
                cursor:pointer;
            }
        }
        &.exams > .btn > span {
            font-size:14px;
            background: $color_accent-1;      
        }

        > div {
            opacity:0.3;
        }

        &.ib {            
            align-items: stretch;
            justify-content: flex-start;

            &.text {               

                .ib.x {
                    width:160px;
                    border:2px solid white;
                    padding:20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align:left;
                    
                    @media(max-width:$bp-1){
                        width:80%;
                        height:auto;
                    }

                    #EnglishA {
                        display:none;
                    }
                    #EnglishB {
                        display:none;
                    }
                }
            }
            
            > div.ib {
                border: 2px solid white;
                padding: 20px;
                width:140px;
                height: auto;
                color: white;
                cursor: pointer;
                margin: 0;
                font-size: 12px;
                @media(max-width:$bp-1){
                    width:auto;
                    // height:auto;
                }

                > span {
                    display:block;
                    text-transform:uppercase;                   
                }

                &.a {
                    flex:0;
                    border-bottom:0;
                    padding-bottom:0;
                    // padding-top:60px;
                    @media(max-width:$bp-1){
                        flex:unset;
                        width:40%;
                        height:auto;
                        text-align: left;
                        border-bottom:2px solid white;
                        border-right:0;
                    }
                }
                &.x {
                    flex:1;                    
                    width: 100%;
                    height: 100%;
                    @media(max-width:$bp-1){
                        flex:unset;
                        width:20%;
                        height:auto;
                    }
                    
                    &.lines {
                        padding:0;
                        border-top:0;
                        border-bottom:0;
                        @media(max-width:$bp-1){
                            border-top:2px solid white;
                            border-bottom:2px solid white;
                            border-left:0;
                            border-right:0;
                        }
                    }

                    .column-line-wrap {
                        width: 100%;
                        height: 100%;

                        svg {                                   
                            line {
                                stroke-width: 2;

                                &.line-down {
                                    display:none;
                                }
                            }
                        }
                    }
                }
                &.b {
                    flex:0;
                    border-top:0;
                    @media(max-width:$bp-1){
                        flex:unset;
                        width:20%;
                        height:auto;
                        text-align: right;
                        border-top:2px solid white;
                        border-left:0;
                    }
                }
            }
        }
    }
    /* (END) .column */

    .column-line-wrap {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:$line-width;        
        // height:100px;
        /* background:green; */
        // top:125px;
        bottom:auto;
        @media(max-width:$bp-1){
            width:auto;
            &:not(.from-base-to-top){
                height:$line-width !important;
            }
            top:0 !important;
            bottom:0 !important;
        }

        &.spacer {
            width:$btn-margin;
            svg {
                display:none;
            }            
        }

        &.down {
            // top:150px;
            bottom:auto;
            left:0;
            @media(max-width:$bp-1){
                // top:0 !important;
                // bottom:auto !important;
            }

            &.from-S1 {              
                @media(max-width:$bp-1){
                    left:30%;
                }
            }
            &.from-S2 {
                // top:225px;
                top:calc(#{$btn-top-2} + #{$line-offset});                
                @media(max-width:$bp-1){
                    left:50%;
                }
            }
            &.from-S3 {
                // top:325px;
                top:calc(#{$btn-top-3} + #{$line-offset});
                @media(max-width:$bp-1){
                    left:70%;
                }
            }
            &.from-S4 {
                // top:425px;
                top:calc(#{$btn-top-4} + #{$line-offset});
                @media(max-width:$bp-1){
                    left:90%;
                }
            }            
        }

        &.up {
            bottom:100px;
            top:auto;
            @media(max-width:$bp-1){
                // left:auto;
            }

            &.from-S3.v-1 {
                // bottom:-225px;
                bottom:calc(0px - (#{$btn-top-2} + #{$line-offset}));
                @media(max-width:$bp-1){
                    left:50%;
                }
            }
            &.from-S3.v-2 {
                // bottom:-125px;
                bottom:calc(0px - (#{$btn-top-1} + #{$line-offset}));
                @media(max-width:$bp-1){
                    left:30%;
                }
            }
            &.from-S4.v-1 {
                // bottom:-325px;
                bottom:calc(0px - (#{$btn-top-3} + #{$line-offset}));
                @media(max-width:$bp-1){
                    left:70%;
                }
            }
            &.from-S4.v-2 {
                // bottom:-225px;
                bottom:calc(0px - (#{$btn-top-2} + #{$line-offset}));
                @media(max-width:$bp-1){
                    left:50%;
                }
            }
            &.from-S4.v-3 {
                // bottom:-125px;
                bottom:calc(0px - (#{$btn-top-1} + #{$line-offset}));
                @media(max-width:$bp-1){
                    left:30%;
                }
            }
            &.from-base-to-top {
                // top:425px;
                bottom:0;
                @media(max-width:$bp-1){
                    // left:70%;
                    height:100% !important;
                }
            }
        }

        &.down.from-S1,
        &.up.from-S2 {
            // top:125px;
            top:calc(#{$btn-top-1} + #{$line-offset});
            @media(max-width:$bp-1){
                left:30%;
            }
        }

        &.init line {
            display:none;
        }

        &.down .line-up {
            display:none;
        }
        &.up .line-down {
            display:none;
        }

        &.v-0 {
            height:0px;
            border-top:1px solid white;
            // margin-top: -25px;
            margin-top:calc(0px - #{$line-offset});
            @media(max-width:$bp-1){                
                margin-top:0 !important;
                border-top:0;
                border-left:1px solid white;
                > svg {display:none;}
            }
        }
        &.v-1 {
            // height:50px;
            height:calc(#{$btn-top-1} - #{$line-offset * 2});             
            @media(max-width:$bp-1){
                width:20%;
                // margin-left:10%;
            }

        }
        &.v-2 {
            // height:150px;
            height:calc(#{$btn-top-2} - #{$line-offset * 2});
            @media(max-width:$bp-1){
                width:40%;
                // margin-left:10%;
            }
        }
        &.v-3 {
            // height:250px;
            height:calc(#{$btn-top-3} - #{$line-offset * 2});
            @media(max-width:$bp-1){
                width:60%;
                // margin-left:10%;
            }
        }

        svg {
            width: 100%;
            height: 100%;
            position: absolute;

            line {
                stroke: white;
                stroke-width: 1;
            }
        }
    }

    /* button states */
    /* show active columns (to select) */
    &.init .column.y1 > div,
    &.y1 .column.y2 > div,
    &.y2 .column.y3 > div,
    &.y3 .column.y4 > div {
        opacity:1;    
    }

    /* show selected button */
    .column {
        &.s1 > div.btn:nth-child(2),
        &.s2 > div.btn:nth-child(3),
        &.s3 > div.btn:nth-child(4),
        &.s4 > div.btn:nth-child(5) {
            opacity:1;
            cursor:pointer;
        }
    }
    /* exam buttons */
    &.y4.s1 .column.exams > div.btn:nth-child(2) {
        opacity:1;
        cursor:pointer;
    }
    &.y4.s2 .column.exams > div.btn:nth-child(3) {
        opacity:1;
        cursor:pointer;
    }
    &.y4.s3 .column.exams > div.btn:nth-child(4),
    &.y4.s4 .column.exams > div.btn:nth-child(5) {
        opacity:1;
        cursor:pointer;
    }

    &.y4.s4 {        
        .column.ib.text {
            opacity:1;
        }     
    }
    &.y4.s1,
    &.y4.s2,
    &.y4.s3 {
        .column.ib.choose > div.ib.a {
            opacity:1;
        }
        .column.ib.choose > div.ib.x {
            opacity:1;
            border-right-color: rgba(255,255,255,0.3);          
        }    
        .column.ib.text {
            > div.ib.x {opacity:1;}
            #EnglishA {
                display:block;
            }
            #EnglishB {
                display:none;
            } 
        }
           
    }
    &.y4.s4 {        
        .column.ib.choose > div.ib.b {
            opacity:1;
        }
        .column.ib.choose > div.ib.x {
            opacity:1;
            border-left-color: rgba(255,255,255,0.3);          
        }   
        .column.ib.text {
            > div.ib.x {opacity:1;}
            #EnglishA {
                display:none;
            }
            #EnglishB {
                display:block;
            }  
        }
          
    }
}

@media all\0 {
    .column-line-wrap svg {
        display:none !important;
    }
    .column-line-wrap.v-0 {
        border:none !important;
    }
}